* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
:root {
  --main-color: #ff9137;
}
/*NAVBAR*/
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.big-logo {
  width: 280px;
  margin-top: 0.125rem;
}
.brand-logo {
  margin-right: 3rem;
}
#mobile-logo {
  display: none;
}
.sidenav li > a {
  border-bottom: none !important;
}

/*TOP-SECTION*/
#top-section {
  background-size: cover;
  position: relative;
  width: 100%;
  height: 96vh;
  min-height: 100%;
  background-position: center;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(68, 68, 68, 0.5)),
      color-stop(rgba(68, 68, 68, 0.6)),
      to(rgba(68, 68, 68, 0.6))
    ),
    url("../img/colombiaguide.jpg");
  background-image: -o-linear-gradient(
      rgba(68, 68, 68, 0.5),
      rgba(68, 68, 68, 0.6),
      rgba(68, 68, 68, 0.6)
    ),
    url("../img/colombiaguide.jpg");
  background-image: linear-gradient(
      rgba(68, 68, 68, 0.5),
      rgba(68, 68, 68, 0.6),
      rgba(68, 68, 68, 0.6)
    ),
    url("../img/colombiaguide.jpg");
}
.front-card {
  padding: 5rem;
  width: 900px;
  position: absolute;
  bottom: 0%;
  -webkit-animation: slideIn ease-in-out 1s;
  animation: slideIn ease-in-out 1s;
}

@-webkit-keyframes slideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.front-card-title {
  color: white;
  font-size: 4.35rem;
  font-weight: 900;
  margin-bottom: 2.5rem;
}
.front-card-body {
  font-size: 1.75rem;
  color: white;
  margin-bottom: 3rem;
}
.button-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 5rem;
}
.btn:hover,
.btn:focus {
  -webkit-transition: ease-in-out 0.25s;
  -o-transition: ease-in-out 0.25s;
  transition: ease-in-out 0.25s;
}

/*FOOTER*/

.social-icon-container {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.social-icon {
  margin-right: 1rem;
  cursor: pointer;
}
.subscribe-container {
  display: flex;
}
.input-background {
  width: 80%;
  background-color: rgb(255, 255, 255);
  padding: 0.25rem;
  -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
  -webkit-transition: -webkit-box-shadow 0.25s;
  transition: -webkit-box-shadow 0.25s;
  -o-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
  border-radius: 2px;
}
#subscribe-btn {
  padding: 8px 26px !important;
}
input[type="email"]:not(.browser-default) {
  height: 2.5rem !important;
  margin: 0px 0px 4px !important;
}
.input-background label {
  display: none;
}
.subscribe-btn button {
  margin-top: 1rem;
  background-color: #c05e0d !important;
}
::-webkit-input-placeholder {
  color: #ff9137 !important;
  font-size: 1rem;
}
::-moz-placeholder {
  color: #ff9137 !important;
  font-size: 1rem;
}
:-ms-input-placeholder {
  color: #ff9137 !important;
  font-size: 1rem;
}
::-ms-input-placeholder {
  color: #ff9137 !important;
  font-size: 1rem;
}
::placeholder {
  color: #ff9137 !important;
  font-size: 1rem;
}
.navigation-list {
  font-size: 1.25rem;
  margin-top: 1.75rem;
}
.navigation-list li a:hover,
.navigation-list li a:focus {
  text-decoration: underline;
}
.contact-list {
  margin-top: 1.75rem;
  font-size: 1.05rem;
}
#contact-email:hover,
#contact-email:focus {
  text-decoration: underline;
}
.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.links a {
  color: rgb(255, 255, 255);
  margin-bottom: 0.5rem;
}

/*MEDIA QUERIES*/

/*subscribe button position (FOOTER)*/
@media only screen and (max-width: 992px) {
  .input-background {
    width: 60%;
  }
}

/*responsive logo*/
@media only screen and (max-width: 650px) {
  .brand-logo {
    display: none !important;
  }
  #mobile-logo {
    display: unset !important;
    margin-right: 1rem;
  }
  .mobile-logo-img {
    width: 65px;
  }
}

/*subscribe bar (FOOTER)*/
@media only screen and (max-width: 600px) {
  .input-background {
    width: 75%;
  }
}

/*responsive (FOOTER) links*/
@media only screen and (max-width: 425px) {
  .links {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 0;
  }
}

/*subscribe button (FOOTER)*/
@media only screen and (max-width: 360px) {
  input[type="email"]:not(.browser-default) {
    height: 2rem !important;
  }
}
