/* * Prefixed by https://autoprefixer.github.io * PostCSS: v7.0.29, * Autoprefixer: v9.7.6 * Browsers: last 4 version */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-color: #ff9137;
}
/*NAVBAR*/
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background: transparent;
}

/*PACKAGES*/

.card-row {
  transform: translateY(12rem);
  height: 200rem;
}
.card-title {
  color: var(--main-color);
  font-size: 2.5rem !important;
  margin-top: 2rem;
}
.front {
  text-align: center;
}
.front .price {
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}
.cents {
  font-size: 1.75rem;
  margin-top: 5px;
}
b {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 1.5rem;
}
.perks-list-flex {
  display: flex;
  justify-content: center;
}
.perks-list {
  display: flex;
  flex-direction: column;
}
.perks-list li {
  display: flex;
  align-items: center;
  font-size: 1.15rem;
  margin: 2.5rem 0;
}
.material-icons {
  margin-right: 0.25rem;
  color: var(--main-color);
}

#card-basic {
  position: relative !important;
  z-index: -100;
  height: 500rem !important;
}
#card-premium {
  position: relative !important;
  z-index: -100;
}
