.slide-up,
.slide-left,
.slide-right {
  opacity: 0;
  transition: opacity 0.75s ease-in-out;
  transition: transform 0.75s ease-in-out;
}

.appear {
  animation: fade-in 1s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.slide-up.appear,
.slide-left.appear,
.slide-right.appear {
  opacity: 1;
  transform: translate(0);
}

.slide-up {
  transform: translateY(10%);
}

.slide-right {
  transform: translateX(-10%);
}

.slide-left {
  transform: translateX(10%);
}
