/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --main-color: rgb(255, 111, 15);
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

:root {
  --main-color: #ff9137;
}

/*NAVBAR*/

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #f5f5f5;
}

.big-logo {
  width: 280px;
  margin-top: 0.125rem;
}

.brand-logo {
  margin-right: 3rem;
}

#mobile-logo {
  display: none;
}

.sidenav li > a {
  border-bottom: none !important;
}

/*ORANGE BACKGROUND*/

.orange-background {
  padding-top: 3rem;
  background-size: cover;
  background: rgb(232, 104, 6);
  background-image: -o-linear-gradient(
    left,
    #f47412,
    #f6750f,
    #f8760c,
    #fa7709,
    #fc7805,
    #fd7a03,
    #fd7c02,
    #fe7e00,
    #fd8200,
    #fd8600,
    #fc8900,
    #fb8d00
  );
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#f47412),
    color-stop(#f6750f),
    color-stop(#f8760c),
    color-stop(#fa7709),
    color-stop(#fc7805),
    color-stop(#fd7a03),
    color-stop(#fd7c02),
    color-stop(#fe7e00),
    color-stop(#fd8200),
    color-stop(#fd8600),
    color-stop(#fc8900),
    to(#fb8d00)
  );
  background-image: linear-gradient(
    to right,
    #f47412,
    #f6750f,
    #f8760c,
    #fa7709,
    #fc7805,
    #fd7a03,
    #fd7c02,
    #fe7e00,
    #fd8200,
    #fd8600,
    #fc8900,
    #fb8d00
  );
  height: 325px;
}

.faq-title {
  margin: 0;
  color: #ffffff;
}

/*ORANGE BACKGROUND*/

.faq-container {
  -webkit-transform: translateY(-6rem);
  -ms-transform: translateY(-6rem);
  transform: translateY(-6rem);
  margin-bottom: 5rem;
}

.collapsible-body {
  background-color: #f5f5f5;
}

/*FOOTER*/

.social-icon-container {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.social-icon {
  margin-right: 1rem;
  cursor: pointer;
}

.subscribe-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-background {
  width: 80%;
  background-color: rgb(255, 255, 255);
  padding: 0.25rem;
  -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
  -webkit-transition: -webkit-box-shadow 0.25s;
  transition: -webkit-box-shadow 0.25s;
  -o-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
  border-radius: 2px;
}

#subscribe-btn {
  padding: 8px 26px !important;
}

input[type="email"]:not(.browser-default) {
  height: 2.5rem !important;
  margin: 0px 0px 4px !important;
}

.input-background label {
  display: none;
}

.subscribe-btn button {
  margin-top: 1rem;
  background-color: #c05e0d !important;
}

::-webkit-input-placeholder {
  color: #ff9137 !important;
  font-size: 1rem;
}

::-moz-placeholder {
  color: #ff9137 !important;
  font-size: 1rem;
}

:-ms-input-placeholder {
  color: #ff9137 !important;
  font-size: 1rem;
}

::-ms-input-placeholder {
  color: #ff9137 !important;
  font-size: 1rem;
}

::placeholder {
  color: #ff9137 !important;
  font-size: 1rem;
}

.navigation-list {
  font-size: 1.25rem;
  margin-top: 1.75rem;
}

.navigation-list li a:hover,
.navigation-list li a:focus {
  text-decoration: underline;
}

.contact-list {
  margin-top: 1.75rem;
  font-size: 1.05rem;
}

#contact-email:hover,
#contact-email:focus {
  text-decoration: underline;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.links a {
  color: rgb(255, 255, 255);
  margin-bottom: 0.5rem;
}

/*MEDIA QUERIES*/

/*subscribe button position (FOOTER)*/
@media only screen and (max-width: 992px) {
  .input-background {
    width: 60%;
  }
}

/*responsive logo*/
@media only screen and (max-width: 650px) {
  .brand-logo {
    display: none !important;
  }
  #mobile-logo {
    display: unset !important;
    margin-right: 1rem;
  }
  .mobile-logo-img {
    width: 65px;
  }
}

/*subscribe bar (FOOTER)*/
@media only screen and (max-width: 600px) {
  .input-background {
    width: 75%;
  }
}

@media only screen and (max-width: 425px) {
  .faq-title {
    font-size: 3.5rem !important;
  }
}

/*responsive footer links*/
@media only screen and (max-width: 425px) {
  .links {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 0;
  }
}

/*responsive (FOOTER) links*/
@media only screen and (max-width: 425px) {
  .links {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 0;
  }
}

/*subscribe button (FOOTER)*/
@media only screen and (max-width: 360px) {
  input[type="email"]:not(.browser-default) {
    height: 2rem !important;
  }
}
