/* * Prefixed by https://autoprefixer.github.io * PostCSS: v7.0.29, * Autoprefixer: v9.7.6 * Browsers: last 4 version */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-color: #ff9137;
}
/*NAVBAR*/
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.big-logo {
  width: 280px;
  margin-top: 0.125rem;
}
.brand-logo {
  margin-right: 3rem;
}
#mobile-logo {
  display: none;
}
.sidenav li > a {
  border-bottom: none !important;
}

/*TOP SECTION*/

/*👉.background {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(34, 34, 34, 0.85)),
      color-stop(rgba(36, 36, 36, 0.85)),
      to(rgba(36, 36, 36, 0.85))
    ),
    url("img/handshake-services-page.jpg");
  background-image: -o-linear-gradient(
      rgba(34, 34, 34, 0.85),
      rgba(36, 36, 36, 0.85),
      rgba(36, 36, 36, 0.85)
    ),
    url("img/handshake-services-page.jpg");
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.85),
      rgba(36, 36, 36, 0.85),
      rgba(36, 36, 36, 0.85)
    ),
    url("img/handshake-services-page.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  width: 100%;
  margin: 0;
  position: absolute;
  z-index: -1;
  -webkit-transform: skewY(7deg) translateY(-200px);
  -ms-transform: skewY(7deg) translateY(-200px);
  transform: skewY(7deg) translateY(-100px);
}
.demo-title {
  text-align: center;
  font-size: 3rem;
  padding-top: 6rem;
  margin-bottom: 50px;
  margin-top: 0px;
  font-weight: 300;
  color: white;
}
.pricing-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 8rem;
  margin-bottom: 13rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.pricing-table a {
  color: black;
  text-decoration: none;
}
.pricing-table .pricing-option {
  width: 28%;
  -webkit-box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.3);
  background: rgb(255, 255, 255);
  float: left;
  padding: 2%;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.pricing-table .pricing-option:nth-child(even) {
  margin: 0 2%;
}
.pricing-table .pricing-option:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 40px rgba(0, 0, 0, 0.712);
  box-shadow: 0px 1px 40px rgba(0, 0, 0, 0.712);
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
}
.pricing-table .pricing-option:hover h2,
.pricing-table .pricing-option:hover h1,
.pricing-table .pricing-option:hover span,
.pricing-table .pricing-option:hover b {
  color: var(--main-color);
}
.pricing-table .pricing-option:hover .front {
  opacity: 0;
  visibility: hidden;
}
.pricing-table .pricing-option:hover .back {
  opacity: 1 !important;
  visibility: visible !important;
}
.pricing-table .pricing-option:hover .back a.button {
  -webkit-transform: translateY(0px) !important;
  -ms-transform: translateY(0px) !important;
  transform: translateY(0px) !important;
}
.pricing-table .pricing-option hr {
  border: none;
  border-bottom: 1px solid #f0f0f0;
}
.pricing-table .pricing-option i {
  font-size: 3rem;
  color: #d8d8d8;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.pricing-table .pricing-option h1 {
  margin: 10px 0;
  -webkit-columns: var(--main-color);
  -moz-columns: var(--main-color);
  columns: var(--main-color);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.pricing-table .pricing-option h2 {
  font-weight: 300;
}
.pricing-table .pricing-option p {
  color: #999;
  padding: 0 10px;
  line-height: 1.3;
}
.pricing-table .pricing-option .price {
  position: relative;
}
.pricing-table .pricing-option .price .front span.price {
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: 20px;
  display: block;
  font-weight: 400;
  position: relative;
}
span.price {
  font-size: 10rem;
}
.pricing-table .pricing-option .price .front span.price b {
  position: absolute;
  font-size: 1rem;
  margin-left: 2px;
  font-weight: 400;
}
.pricing-table .pricing-option .price .back {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.pricing-table .pricing-option .price .back a.button {
  background: var(--main-color);
  padding: 15px 20px;
  display: inline-block;
  text-decoration: none;
  color: white;
  position: absolute;
  font-size: 1rem;
  top: -5px;
  left: 0;
  right: 0;
  width: 200px;
  margin: auto;
  text-transform: uppercase;
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.pricing-table .pricing-option .price .back a.button:hover {
  -webkit-transition: 0.45s;
  -o-transition: 0.45s;
  transition: 0.45s;
  opacity: 0.5;
  color: black;
}
.list-package {
  color: var(--main-color);
}
.perks-list {
  list-style: none;
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  font-size: 1.1rem;
}
.perks-list li {
  margin: 3rem 0;
}👈*/

/*FOOTER*/

.social-icon-container {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.social-icon {
  margin-right: 1rem;
  cursor: pointer;
}
.subscribe-container {
  display: flex;
}
.input-background {
  width: 80%;
  background-color: rgb(255, 255, 255);
  padding: 0.25rem;
  -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
  -webkit-transition: -webkit-box-shadow 0.25s;
  transition: -webkit-box-shadow 0.25s;
  -o-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
  border-radius: 2px;
}
#subscribe-btn {
  padding: 8px 26px !important;
}
input[type="email"]:not(.browser-default) {
  height: 2.5rem !important;
  margin: 0px 0px 4px !important;
}
.input-background label {
  display: none;
}
.subscribe-btn button {
  margin-top: 1rem;
  background-color: #c05e0d !important;
}
::-webkit-input-placeholder {
  color: #ff9137 !important;
  font-size: 1rem;
}
::-moz-placeholder {
  color: #ff9137 !important;
  font-size: 1rem;
}
:-ms-input-placeholder {
  color: #ff9137 !important;
  font-size: 1rem;
}
::-ms-input-placeholder {
  color: #ff9137 !important;
  font-size: 1rem;
}
::placeholder {
  color: #ff9137 !important;
  font-size: 1rem;
}
.navigation-list {
  font-size: 1.25rem;
  margin-top: 1.75rem;
}
.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.links a {
  color: rgb(255, 255, 255);
  margin-bottom: 0.5rem;
}

/*MEDIA QUERIES*/

/*subscribe button position (FOOTER)*/
@media only screen and (max-width: 992px) {
  .input-background {
    width: 60%;
  }
}

/*responsive logo*/
@media only screen and (max-width: 650px) {
  .brand-logo {
    display: none !important;
  }
  #mobile-logo {
    display: unset !important;
    margin-right: 1rem;
  }
  .mobile-logo-img {
    width: 65px;
  }
}

/*subscribe bar (FOOTER)*/
@media only screen and (max-width: 600px) {
  .input-background {
    width: 75%;
  }
}

/*responsive (FOOTER) links*/
@media only screen and (max-width: 425px) {
  .links {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 0;
  }
}

/*subscribe button (FOOTER)*/
@media only screen and (max-width: 360px) {
  input[type="email"]:not(.browser-default) {
    height: 2rem !important;
  }
}
