/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

:root {
    --main-color: rgba(255, 111, 15);
}
main {
	padding-top: 32px;
}
body {
	margin: 0;
}

/*NAVBAR*/


.nav_list {
	display: flex;
	list-style-type: none;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:   rgb(255, 111, 15);
	flex-shrink: 1;
}
.nav_lists {
	display: flex;
	
}

.nav_lists {
	font-family: 'Roboto', sans-serif;
}
.nav_lists a {
	padding: 14px 16px;
	color: white;
	text-decoration: none;
}
.nav_lists a:hover,
.nav_lists a:focus {
	-webkit-box-shadow: 0 12px 16px 0 rgba(0,0,0,0.65), 0 17px 50px 0 rgba(0,0,0,0.75);
	        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.65), 0 17px 50px 0 rgba(0,0,0,0.75);
	color: lightgray;
	-webkit-transition: .75s;
	-o-transition: .75s;
	transition: .75s;
}
.nav_lists a:active {
	text-decoration: underline;
}



.background {
	background: url(https://miro.medium.com/max/13378/0*TtZttV6PeaCOIpSb.) center/cover;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;
	
}
span {
	text-decoration: underline;
}


.title {
    margin-top: 2.5%;
    margin-left: 12.5%;
    text-align: center;
    border: 4px solid black;
    width: 75%;
    background:  rgba(255, 111, 15,0.93);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: larger;
}

.title p {
	font-size: 1.5rem;
}


.title__head {
    width: 100%;
	margin-top: 0;
	padding-top: 7px;
	padding-bottom: 7px;
	background: white;
	color:  rgba(255, 111, 15, 0.95);
	font-family: 'Roboto', sans-serif;
}

.medellin_border {
	width: 97.5%;
	border: 4px solid black;
	margin-top: 2.5%;
	margin-bottom: 6%;
	background-color: rgba(255, 236, 0, 0.7);
	margin-left: 2.5%;

}
.medellin_border:hover,
.medellin_border:focus,
.meddelin_border:active {
	background-color: rgba(255, 236, 0, 0.83);
}

.medellin {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	color: black;
}

.medellin_img_container {
	display: inline-block;
	vertical-align: middle;

}

.med_img {
	vertical-align: top;
	margin-bottom: 10%;
	margin-left: 5rem;
	border: 4px solid #8a0000;
}

.med_info {
	display: inline-block;
	vertical-align: middle;
	width: 55%;
	height: 25%;
	margin-left: 2.3%;
	margin-bottom: 4.5%;
	background-color: #ffffe6;
	color: #b80000;
	border: 4px solid #8a0000;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 1.3rem;
	padding-left: 6px;
	padding-right:6px;
}

.bogota_border {
	border: 4px solid black;
	margin-top: 2.5%;
	margin-bottom: 6%;
	background-color: rgba(0, 17, 223, 0.7);
	margin-right: 2.5%;
}
.bogota_border:hover,
.bogota_border:focus,
.bogota_border:active {
	background-color: rgba(0, 17, 223, 0.83);
}

.bogota {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	color: black;
}
.bogota_img_container {
	display: inline-block;
	vertical-align: middle;
	
}
.bog_img {
	vertical-align: top;
	margin-bottom: 10%;
	margin-left: 10px;
	border: 4px solid #8a0000;
	margin-left: 5rem;
}
.bog_info {
	display: inline-block;
	vertical-align: middle;
	width: 55%;
	height: 25%;
	margin-left: 2.3%;
	margin-bottom: 3.75%;
	background-color: #ffffe6;
	color: #b80000;
	border: 4px solid #8a0000;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 1.3rem;
	padding-left: 6px;
	padding-right:6px;
}


.santa_border {
	border: 4px solid black;
	margin-top: 2.5%;
	margin-bottom: 6%;
	background-color: rgba(255, 0, 8, 0.7);
	margin-left: 2.5%;
}

.santa_border:hover,
.santa_border:focus,
.santa_border:active {
	background-color: rgba(255, 0, 8, 0.83);
}
.santa {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	color: black;
}
.santa_img_container {
	display: inline-block;
	vertical-align: middle;
}
.santa_img {
	vertical-align: top;
	margin-bottom: 10%;
	margin-left: 10px;
	border: 3px solid #8a0000;
	margin-left: 5rem;
}
.santa_info {
	display: inline-block;
	vertical-align: middle;
	width: 55%;
	height: 25%;
	margin-left: 2.3%;
	margin-bottom: 3.75%;
	background-color: #ffffe6;
	color: #b80000;
	border: 4px solid #8a0000;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 1.3rem;
	padding-left: 6px;
	padding-right:6px;
}


/* FOOTER */

.addresses {
	background-color: rgba(255, 111, 15, 0.9);
    color: white;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 1.15rem;
   
  }

  .addresses:hover,
  .addresses:focus {
	background-color: rgba(255, 111, 15, .96);
  }
  
  .addresses a {
	color: white;
  }
  .addresses__info1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 1rem;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }

  .addresses__info2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 1rem;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .addresses__info2 p {
	margin-top: 23.5px;
}

  .terms_footer {

    margin-top: 4.30rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 1rem;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  
  .terms_links {
    /*li*/
    margin: 0;
  }
  
  .terms_lists {
    /*ul*/
    list-style: none;
    margin: 0;
    text-align: center;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
  }
  
  .terms_links a {
    /*li a*/
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
  }
  
  .terms_links :hover {
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
  }

  @media screen and (max-width: 1024px) {

	.med_img {
		margin-left: 2rem;
		width: 110%;
		height: auto;
	}
	.bog_img {
		margin-left: 2rem;
		width: 90%;
		height: auto;
	}
	.santa_img {
		margin-left: 2rem;
		width: 90%;
		height: auto;
	}
	.med_info,
	.bog_info,
	.santa_info {
		font-size: 1.05rem;
		width: 85%;
		margin-left: 1.8rem;
	}
	
	.addresses {
		font-size: .95rem;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.addresses__info1 {
		width: 15rem;
	}

	.addresses__info2 {
		width: 15rem;
	}


	.terms_links a {
		font-size:.95rem ;
	}

	.terms_footer {
		width: 15rem;
		margin-top: 2rem;
	}
}

@media only screen and (min-width: 660px) and (max-width: 1024px) {
	
	.med_img,
	.bog_img,
	.santa_img {
		margin-left: 9rem;
		width: 100%;
		height: auto;
		margin-bottom: 5%;
	}
	.med_info,
	.bog_info,
	.santa_info {
		margin-left: 3.5rem;
	}
	.addresses {
		font-size: 1rem;
		display: flex;
		flex-direction: row;
		align-items: center;
	}
}
