/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/



* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}

body {
margin:0;
}

html,body {
	text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

:root {
	--main-color: rgb(231, 112, 15, 01);
}


/*NAVBAR*/
body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	/*👉background-color: #f4f4f4;👈*/
  }
  
  a {
	color: #000;
  }
  
  /* header */
  
  .header {
	background-color: rgb(255, 145, 55);
	-webkit-box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
	        box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
	position: fixed;
	width: 100%;
	z-index: 3;
	height: 52px;
	font-size: 1rem;
	font-weight: 500;
	
  }
  
  .header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	background-color: rgb(255, 145, 55);
  }
  
  .header li a {
	display: block;
	padding: 14px 16px;
	font-weight: 500;
	text-decoration: none;
	color: white;
  }

  
  .header li a:hover,
  .header .menu-btn:hover {
	background-color: rgb(230, 230, 230);
	
	color: rgb(0, 0, 0);
	-webkit-transition: .75s;
	-o-transition: .75s;
	transition: .75s;
  }
  
  .header .logo {
	display: block;
	float: left;
	font-size: 2em;
	padding: 10px 20px;
	padding-right: 0px;
	padding-top: 2.5px;
	text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
	clear: both;
	max-height: 0;
	-webkit-transition: max-height .2s ease-out;
	-o-transition: max-height .2s ease-out;
	transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
	cursor: pointer;
	display: inline-block;
	float: right;
	padding: 24px 20px;
	position: relative;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
  }
  
  .header .menu-icon .navicon {
	background: white;
	display: block;
	height: 2px;
	position: relative;
	-webkit-transition: background .2s ease-out;
	-o-transition: background .2s ease-out;
	transition: background .2s ease-out;
	width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
	background: white;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	-webkit-transition: all .2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all .2s ease-out;
	width: 100%;
  }
  
  .header .menu-icon .navicon:before {
	top: 5px;
  }
  
  .header .menu-icon .navicon:after {
	top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
	display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
	max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
	background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
	-webkit-transform: rotate(-45deg);
	    -ms-transform: rotate(-45deg);
	        transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
	top: 0;
  }
  





/*PAGES*/

#top-portion {
	padding-top: 1rem;
	background: url("https://worldstrides.com/wp-content/uploads/2017/10/Columbia.jpg")  center no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
	min-height: 900px;
	background-image: -o-linear-gradient( rgba(80, 80, 80, 0.0), rgba(75, 75, 75, 0.80), rgba(75, 75, 75, 0.0)), url("https://worldstrides.com/wp-content/uploads/2017/10/Columbia.jpg");
	background-image: -o-linear-gradient( rgba(80, 80, 80, 0.5), rgba(75, 75, 75, 0.80), rgba(75, 75, 75, 0.20)), url("https://worldstrides.com/wp-content/uploads/2017/10/Columbia.jpg");
	background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(80, 80, 80, 0.5)), color-stop(rgba(75, 75, 75, 0.80)), to(rgba(75, 75, 75, 0.20))), url("https://worldstrides.com/wp-content/uploads/2017/10/Columbia.jpg");
	background-image: linear-gradient( rgba(80, 80, 80, 0.5), rgba(75, 75, 75, 0.80), rgba(75, 75, 75, 0.20)), url("https://worldstrides.com/wp-content/uploads/2017/10/Columbia.jpg");
}

.title-logo {
	text-align: center;
}
.title-logo img {
	width: 55%;
	-webkit-filter: brightness(1.15);
	        filter: brightness(1.15);
	margin-top: 2rem;
}

.top-portion__voted {
	color: white;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 1.35em;

}
hr { 
border : 0;
height: 1px; 
background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.90), rgba(255, 255, 255, 0)); 
background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0.90)), to(rgba(255, 255, 255, 0))); 
background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.90), rgba(255, 255, 255, 0)); 
}
.top-portion__desc {
	color: white;
	width: 90%;
	padding-left: 10rem;
	line-height: 2.25rem;
	text-align: left;
	font-size: 1.75em;
	font-family: 'Open Sans', sans-serif;
	margin: 1.5rem; -webkit-filter: brightness(100000%); filter: brightness(100000%);
	margin-bottom: 0;
}

.book-div  {
	text-align: center;
	font-size: 1.5rem;
	font-family: 'Open Sans', sans-serif;
}
.book-div a {
	color: white;
}

 a.details {
	border: 2.5px solid white;
	padding: 8px 62px;
	padding-top: 11px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 1.75rem;
	background-color: rgba(214, 128, 0, 0.45);
	color: white;
	cursor: pointer;
	position: relative;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	left: 50%;
	top: 5%;
	z-index: 1;
	display: inline-block;	
}


a.details:hover,
a.details:focus {
	background-color: rgba(231, 147, 21, 0.25);
	-webkit-transition: .5s ease-in;
	-o-transition: .5s ease-in;
	transition: .5s ease-in;
}
a.details:hover,
a.details:focus {
	border: 3.5px solid white;
	-webkit-transition: .15s;
	-o-transition: .15s;
	transition: .15s;
}
a.details:active {
	background-color: rgba(247, 195, 100, 0.75);
	-webkit-transition: .15s;
	-o-transition: .15s;
	transition: .15s;
}

.details__border--bottom {
    display: inline-block;
    padding: 2px 0px 4px;
    margin: 0px 8px 0px;
	position: relative;
}


 .details__border--bottom:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0px;
    border-bottom: 2.5px solid white;
	bottom: 2px;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 0.25s ease-in-out;
    -webkit-transition: -webkit-transform 0.45s ease-in-out;
    transition: -webkit-transform 0.45s ease-in-out;
    -o-transition: transform 0.45s ease-in-out;
    transition: transform 0.45s ease-in-out;
    transition: transform 0.45s ease-in-out, -webkit-transform 0.45s ease-in-out;
}

a:hover .details__border--bottom:before,
a:focus  .details__border--bottom:before {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

.top-portion__arrows {
	position: relative;
	width: 0%;
	top: 10%;
	left: 51.5%;
	
}

.top-portion__arrows .top-portion__arrows--hide {
	opacity: 0;
	display: block;
	width: 120px;
	height: 120px;
	border-bottom: 3px solid white;
	border-right: 3px solid white;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
	margin: -85px;
}

a.details:hover + .top-portion__arrows .top-portion__arrows--hide,
a.details:focus + .top-portion__arrows .top-portion__arrows--hide {
	opacity: 1;
	-webkit-animation: animate .65s ease;
	        animation: animate .65s ease;
}

.top-portion__arrows .top-portion__arrows--hide:hover .details__border--full,
.top-portion__arrows .top-portion__arrows--hide:focus .details__border--full {
	border: 2.5px solid white;
	-webkit-transition: .2s ease-in;
	-o-transition: .2s ease-in;
	transition: .2s ease-in;
}

@-webkit-keyframes animate {
    0%{
        opacity: 0;
        -webkit-transform: rotate(45deg) translate(-10px,-10px);
                transform: rotate(45deg) translate(-10px,-10px);
    }
    50%{
        opacity: .5;
    }
    100%{
        opacity: 1;
        -webkit-transform: rotate(45deg) translate(0px,0px);
                transform: rotate(45deg) translate(0px,0px);
    }
}

@keyframes animate {
    0%{
        opacity: 0;
        -webkit-transform: rotate(45deg) translate(-10px,-10px);
                transform: rotate(45deg) translate(-10px,-10px);
    }
    50%{
        opacity: .5;
    }
    100%{
        opacity: 1;
        -webkit-transform: rotate(45deg) translate(0px,0px);
                transform: rotate(45deg) translate(0px,0px);
    }
}

/*Pic Section*/
.btm-containers {
	background-color:rgb(255, 250, 242);


}
.bottom__container {
	text-align: center;
	margin:0;
	padding: 8px;
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
	font-size: 1.5rem;
}
.btm-container__why {
	font-size: 3rem;
	margin-bottom: 7rem;
}

.flex-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: 10rem 4rem;


}
.flex-container img {
	width: 700px;
	height: 468px;
	-webkit-filter: drop-shadow(20px 20px 20px #515152);
	        filter: drop-shadow(20px 20px 20px #515152);
}

.flex-container-text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 40%;
	text-align: left;


} 
.flex-container-text-h1 {
	font-size: 3rem;
	margin-bottom: 1rem;
	text-align: center;
}



/* Review SECTION */
.btm-container2 {
	background: url(img/Happy-Thumbs-Up-Girl-scaled.jpg);
	background-image: -o-linear-gradient( rgba(49, 49, 49, 0.75),  rgba(48, 48, 48, 0.75)), url("img/Happy-Thumbs-Up-Girl-scaled.jpg");
	background-image: -webkit-gradient( linear,  left top, left bottom,  from(rgba(49, 49, 49, 0.75)),  to(rgba(48, 48, 48, 0.75))), url("img/Happy-Thumbs-Up-Girl-scaled.jpg");
	background-image: linear-gradient( rgba(49, 49, 49, 0.75),  rgba(48, 48, 48, 0.75)), url("img/Happy-Thumbs-Up-Girl-scaled.jpg");
	background-position: right;
	background-position-y: 40%;
	background-size: cover;
	height: 600px;
}

.btm-container2__header {
	color: white;
	text-align: center;
	font-weight: 500;
	font-size: 2.25em;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	margin-bottom: 1rem;
	padding-top:4rem;
	
}


.grid-container {
	list-style: none;
	max-width: 100%;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	row-gap: 3rem;
	    -ms-grid-rows: auto 3rem auto;
	        grid-template-areas: "griditem1  griditem2"
						"griditem3  griditem4";
	margin-top: 6rem;
	
}



.grid-item1 {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	grid-area: griditem1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: white;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 1.2rem;
	padding: 0 2rem;
	
}

.image {
	border-radius: 50%;
	width: 150px;
	height: 150px;
}


.flex-item1--text p{
	
	margin: 0;
	margin-left: 1rem;
}

.grid-item2 {
	-ms-grid-row: 1;
	-ms-grid-column: 2;
	grid-area: griditem2;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: white;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 1.2rem;
	padding: 0 2rem;
}


.flex-item2--text p{
	margin: 0;
	margin-left: 1rem;
}

.grid-item3 {
	-ms-grid-row: 3;
	-ms-grid-column: 1;
	grid-area: griditem3;
	
	display: -webkit-box;
	
	display: -ms-flexbox;
	
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	
	-webkit-box-align: center;
	
	    -ms-flex-align: center;
	
	        align-items: center;
	color: white;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 1.2rem;
	padding: 0 2rem;
}

.grid-item4 {
	-ms-grid-row: 3;
	-ms-grid-column: 2;
	grid-area: griditem4;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;

	-webkit-box-align: center;

	    -ms-flex-align: center;

	        align-items: center;
	color: white;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 1.2rem;
	padding: 0 2rem;
}

.flex-item3--text p{
	margin: 0;
	margin-left: 1rem;
}




/*FOOTER*/

.addresses {
	background-image: -o-linear-gradient( rgba(231, 112, 15, 0.9),  rgba(231, 112, 15, 0.9)), url("img/abstract.jpg");
	background-image: -webkit-gradient( linear,  left top, left bottom,  from(rgba(231, 112, 15, 0.9)),  to(rgba(231, 112, 15, 0.9))), url("img/abstract.jpg");
	background-image: linear-gradient( rgba(231, 112, 15, 0.9),  rgba(231, 112, 15, 0.9)), url("img/abstract.jpg");
	background-repeat: no-repeat;
	background-size: cover;
    color: white;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.35rem;
	padding-top: 3rem;
	padding-bottom: 1rem;
}

.addresses a {
	color: white;
}

.addresses__contact {
	margin-bottom: 5rem;
	margin-top: 0;
	font-size: 3rem;
}
#flex-container {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: space-evenly;
	    -ms-flex-pack: space-evenly;
	        justify-content: space-evenly;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.contact-section {
	text-align: center;
	color: white;
	padding: 44px 42px;
	background: rgb(190, 138, 94, 0.8);

	
}

label {
	display: none;
	font-size: 1px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
-webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
-webkit-transition-delay: 9999s;
}
  .contact input,
  .contact textarea {
	margin: .5rem;
	font-weight: 1000;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.1rem;
  }
  
  .name-form label,
  .email-form label,
  .contact__textarea label {
	display: none;
  }
  
  input[type="text"],
  [type="email"],
  textarea {
	background-color: rgb(223, 215, 215);
	border-color: rgb(128, 128, 128);
	width: 550px;
	height: 40px;

  }
  ::-webkit-input-placeholder {
	color: black;
  }
  ::-moz-placeholder {
	color: black;
  }
  :-ms-input-placeholder {
	color: black;
  }
  ::-ms-input-placeholder {
	color: black;
  }
  ::placeholder {
	color: black;
  }
  
 
  .contact__txtarea label,
  .textarea {
	width: 550px;
	height: 300px;
	vertical-align: top;
  
  }
  .btn {
	  text-align: left;
	  margin-left: 6%;
  }
  .contact-section__btn {
	padding: 12px 52px;
	background:  rgba(230, 86, 3, 0.911);
	border: none;
	color: white;
	font-size: 1rem;
	-webkit-appearance: none;
  }
  
  .contact-section__btn:hover,
  .contact-section__btn:focus {
	background-color: rgba(255, 255, 255, 0.7);
	opacity: .7;
	color: black;
	cursor: pointer;
	-webkit-transition: ease .45s;
	-o-transition: ease .45s;
	transition: ease .45s;
	
  }
  
#flex-item2 {
	
	background: rgb(190, 138, 94, 0.8);
	padding: 82px 56px;
}

.office-info {
	margin-top: 0;
	margin-bottom: 6.75rem;
}
  .terms_footer  {
   display: inline;
    width: 1rem;
  }
  
  .terms_links {
    /*li*/
    margin: 0;
  }
  
  .terms_lists {
    /*ul*/
    list-style: none;
    margin: 0;
	margin-top: 8rem;
    text-align: center;
	-webkit-padding-start: 0;
	        padding-inline-start: 0;
  }
  
  
  .terms_links a {
    /*li a*/
    color: white;
    text-decoration: none;
	font-size: 1.25rem;
  }
  
  .terms_links :hover {
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
  }
  .top_link_position {
    display: block;
	position: fixed;
    bottom: 0%;
    right: .20%;
    z-index: 600;
}


.top_btn {
	border: 1.75px solid rgba(255, 111, 15, 1);
	background-color: rgba(255, 255, 255, .85);
	padding: .75rem .75rem;
	color:rgba(255, 111, 15, 0.9);
	font-weight: bolder;
	text-transform: uppercase;
	border-radius: 2px;
}


.top_btn:active {
	opacity: 0;
	transition: .1s;
}

.back-to-top {
    position: fixed;
    bottom: 3em;
    right: 1em;
    text-decoration: none;
    font-size: 12px;
	padding: .35em;
	display: none;
}

@media (hover: hover) {
	.top_btn:hover,
.top_btn:focus {
	background: rgba(255, 111, 15, 0.75);
	padding: .85rem 1.95rem;
    -webkit-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
	cursor: pointer;
	color: white;
	outline: 3px solid orange;
	border: none;
}
}
@media screen and (max-width: 1700px) {
	.top-portion__desc {
		font-size: 1.65rem;
		line-height: 2rem;
		margin-bottom: 2rem;
	}
}
@media screen and (max-width: 1600px) {
	.top-portion__desc {
		font-size: 1.55rem;
		line-height: 1.75rem;
		margin-bottom: 2rem;
	}
}
@media screen and (max-width: 1500px) {
	.top-portion__desc {
		font-size: 1.45rem;
		line-height: 1.85rem;
		margin-bottom: 1rem;
	}
	a.details {
		margin-top: .5rem;
		padding: 8px 42px;
		font-size: 1.5rem;
	}
	.top-portion__arrows {
		left: 51.75%;
	}
	.top-portion__arrows .top-portion__arrows--hide {
		width: 100px;
		height: 100px;
		margin: -75px;
	}
}

@media screen and /*👉(min-width: 1201px) and👈*/ (max-width: 1366px) {
	.top-portion__desc {
		padding-left: 5rem;
		font-size: 1.75rem;
		line-height: 1.75rem;
	}
	a.details {
	padding: 8px 42px;
	font-size: 1.5rem;
	}
	.top-portion__arrows {
		left: 51.75%;
	}
	.top-portion__arrows .top-portion__arrows--hide {
		width: 100px;
		height: 100px;
		margin: -75px;
	}
	.flex-container {
		font-size: 1.35rem;
	}
	.flex-container img {
		width: 600px;
		height: 350px;
	}
	.flex-container-text-h1 {
		font-size: 2rem;
	}
}
@media screen and (max-width:1300px) {
	.top-portion__desc {
		font-size: 1.55rem;
		margin-bottom: 2rem;
	}
}

@media screen and (max-width:1250px) {
	.contact-section h1 {
		font-size: 1.25rem;
	}
	input[type="text"], [type="email"], .textarea {
		width: 450px;
	}	
	.office-info {
		font-size: 1.25rem;
	}
	.btn {
		margin-left: 4%;
	}
	
}


@media screen and (max-width: 1200px) {
	.top-portion__desc {
		padding-left: 5rem;
	}
	a.details {
		display: none;
	}
	.flex-container {
		font-size: 1.35rem;
	}
	.flex-container img {
		width: 500px;
		height: 275px;
	}
	.flex-container-text-h1 {
		font-size: 1.5rem;
	}
	.flex-container-text {
		font-size: 1.25rem;
	}
	.addresses {
		padding-top: 2rem;
	}
}
@media screen and (max-width:1125px) {
	.contact-section {
		padding: 38px 40px;
	}
	.addresses__info1 {
		font-size: 1.25rem;
	}
	.addresses__info2 {
		font-size: 1.25rem;
	}
}
@media screen and (max-width:1075px) {
	#flex-container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.contact-section {
		margin-bottom: 3rem;
	}
	.contact-section h1 {
		font-size: 1.35rem;
	}
	input[type="text"], [type="email"], .textarea {
		width: 550px;
	}	
	.btn {
		margin-left: 0;
	}
	.office-info {
		font-size: 1.35rem;
	}
	.addresses__info1 {
		font-size: 1.35rem;
	}
	.addresses__info2 {
		font-size: 1.35rem;
	}
}
@media screen and (max-width: 1024px) {
	#top-portion {
		min-height: 800px;
		padding-top: 2.5rem;
	}

	.top-portion__colombia {
		font-size: 4rem;
	}

	.top-portion__voted {
		font-size: 1.75rem;
		}	

	.top-portion__desc {
		line-height: 2.25rem;
		text-align: left;
		font-size: 1.5rem;
		padding-left: 2rem;
	}

	a.details {
		display: none;
	}
	.top-portion__arrows {
		display: none;
	}
	.flex-container-text {
		font-size: 1.15rem;
	}
	
}

@media only screen 
and (min-width: 1366px)
and (max-width: 1366px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 1.5) {
	.top-portion__arrows {
		display: inline-block;
		left: 33.55%;
		top: 15%;
		-webkit-animation: none;
		        animation: none;
		-webkit-transition: none;
		-o-transition: none;
		transition: none;
	}
}

@media only screen 
  and (min-width: 1024px) 
  and (max-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
	.top-portion__colombia {
		font-size: 5rem;
	}
	#top-portion {
		min-height: 800px;
		padding-top: 2rem;
		background-image: -o-linear-gradient( rgba(80, 80, 80, 0.55), rgba(75, 75, 75, 0.55)), url("https://worldstrides.com/wp-content/uploads/2017/10/Columbia.jpg");
		background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(80, 80, 80, 0.55)), to(rgba(75, 75, 75, 0.55))), url("https://worldstrides.com/wp-content/uploads/2017/10/Columbia.jpg");
		background-image: linear-gradient( rgba(80, 80, 80, 0.55), rgba(75, 75, 75, 0.55)), url("https://worldstrides.com/wp-content/uploads/2017/10/Columbia.jpg");
		background-position: right;
	}

	.top-portion__voted {
		font-size: 2rem;
		}	

	.top-portion__desc {
		line-height: 2.5rem;
		text-align: left;
		font-size: 2.5rem;
		padding-left: 0;
	}
	a.details {
		display: inline-block;
	}
	.top-portion__arrows {
		display: inline-block;
		left: 22.15%;
		top: 15%;
		-webkit-animation: none;
		        animation: none;
		-webkit-transition: none;
		-o-transition: none;
		transition: none;
	}

  }
@media screen and (max-width: 1023px) {
	#top-portion {
		min-height: 800px;
		padding-top: 2rem;
		background-image: -o-linear-gradient( rgba(80, 80, 80, 0.55), rgba(75, 75, 75, 0.55)), url("https://worldstrides.com/wp-content/uploads/2017/10/Columbia.jpg");
		background-image: -o-linear-gradient( rgba(49, 49, 49, 0.80), rgba(49, 49, 49, 0.80)), url("https://worldstrides.com/wp-content/uploads/2017/10/Columbia.jpg");
		background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(49, 49, 49, 0.80)), to(rgba(49, 49, 49, 0.80))), url("https://worldstrides.com/wp-content/uploads/2017/10/Columbia.jpg");
		background-image: linear-gradient( rgba(49, 49, 49, 0.80), rgba(49, 49, 49, 0.80)), url("https://worldstrides.com/wp-content/uploads/2017/10/Columbia.jpg");
		background-position: right;
	}
	.title-logo img {
		width: 80%;
	}
	.top-portion__voted {
		font-size: 1.5rem;
	}
	.top-portion__desc {
		line-height: 1.75rem;
		text-align: left;
		font-size: 1.5rem;
		padding-left: 0;
	}
	
	a.details {
		display: none;
	}
	.top-portion__arrows {
		display: none;
	}
	
	.btm-container__why {
		font-size: 1.8rem;
		margin-top: 1.25rem;
	}
	.flex-container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		margin-left: 0;
		margin-right: 0;
	}
	.flex-container-text {
		font-size: 1.25rem;
	}

	.flex-container-text-h1 {
		margin-top: 3rem;
	}
	#flip-flexbox, 
	#flip-flexbox2 {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: column-reverse;
		        flex-direction: column-reverse;
	}
	
}
@media screen and (max-width: 900px) {
	#top-portion {
		min-height: 800px;
	}
	.title-logo img {
		width: 65%;
		
	}
	.top-portion__voted {
		font-size: 1.5rem;
	}
	.top-portion__desc {
		line-height: 2rem;
		text-align: left;
		font-size: 1.5rem;
		padding-left: 0;
	}
	.grid-container {
		margin-top: 3rem;
	}
	.flex-container-text{
		width: 80%;
	}
}
@media screen and (max-width: 890px) {
	.top-portion__desc {
		margin-bottom: 1rem;
	}
}
/*NavBar Media Query*/
@media (min-width: 800px) {
	.header li {
	  float: left;
	}
	.header li a {
	padding: 15px 30px;
	  padding-top: 15px;
	}
	.header .menu {
	  clear: none;
	  float: right;
	  max-height: none;
	}
	.header .menu-icon {
	  display: none;
	}}

@media screen and (max-width: 800px) {
	.header li a {
		border-bottom: black 1px solid;
		font-weight: 400;

	}
	#border-none {
		border: none!important;
	}
	#top-portion {
		min-height: 800px;
	}
	.title-logo img {
		width: 85%;
	}
	.top-portion__colombia {
		font-size: 3.25rem;
	}
	.top-portion__voted {
		font-size: 1.5rem;
	}
	.top-portion__desc {
		line-height: 2rem;
		text-align: left;
		font-size: 1.5rem;
		padding-left: 0;
	}

}

@media screen and (max-width: 775px) {
	.btm-container2 {
		height: 600px;
	}
	.image {
		width: 125px;
		height: 125px;
	}
	.flex-item1--text {
		font-size: 1rem;
	}
	.flex-item2--text {
		font-size: 1rem;
	}
	.flex-item3--text {
		font-size: 1rem;
	}
	.flex-item4--text {
		font-size: 1rem;
	}
}
@media screen and (max-width: 700px) {
		.top-portion__desc {
			font-size: 1.25rem;
		}
	}
@media screen and (max-width: 675px) {
	.contact-section {
		padding: 0;
	}
	.contact-section h1 {
		width: 75%;
		margin-left: 4.5rem;
	}

	.office-info {
		font-size: 1.25rem;
	}
	.contact__txtarea {
		display: block;
	}
	.btn {
		margin-left: 1.5rem;
		
	}
	.addresses__info1 {
		font-size: 1.25rem;
	}
	.addresses__info2 {
		font-size: 1.25rem;
	}
}
@media screen and (max-width: 650px) {
	.btm-container2 {
		height: 900px;
	}
	.grid-container {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
		        grid-template-areas: "griditem1"
							"griditem2"
							"griditem3"
							"griditem4";
	}
	.btn {
		text-align: center;
		margin-left: 0;
	}
	.grid-item1 {
		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}
	.grid-item2 {
		-ms-grid-row: 2;
		-ms-grid-column: 1;
	}
	.grid-item3 {
		-ms-grid-row: 3;
		-ms-grid-column: 1;
	}
	.grid-item4 {
		-ms-grid-row: 4;
		-ms-grid-column: 1;
	}
	
}

@media screen and (max-width: 600px) {
/*👉	#top-portion {
		min-height: 750px;
	}👈*/
	.title-logo img {
		width: 90%;
	}
	.top-portion__voted {
		font-size: 1.15rem;
	}
	.top-portion__desc {
		line-height: 1.45rem;
		text-align: left;
		font-size: 1.25rem;
		padding-left: 0;
	}
	.book-div {
		font-size: 1.25rem;
	}
.flex-container img {
	width: 400px;
	height: auto;
}
.flex-container-text {
	font-size: 1.15rem;
}

	.btm-container2 {
		background-position: center;
	}
	input[type="text"], [type="email"], .textarea {
		width: 500px;
	}
} 

@media screen and (max-width: 525px) {

	input[type="text"], [type="email"], .textarea {
		width: 450px;
	}	
}

@media screen and (max-width: 500px) {
	input[type="text"], [type="email"], .textarea {
		width: 400px;
	}
	#flex-item2 {
		padding: 40px 38px;
	}
	.addresses__info1 img {
		width: 42px;
		height: 42px;
	}	
}


@media screen and (max-width: 450px) {

	.flex-container img {
		width: 350px;
		height: auto;
	}
	.flex-container-text {
		font-size: 1rem;
	}
	.flex-container-text-h1 {
		font-size: 1.25rem;
	}
	.contact-section {
		margin-bottom: 6rem;
	}
	.contact-section h1 {
		margin-left: 3.5rem;
	}
	input[type="text"], [type="email"], .textarea {
		width: 300px;
	}
	#flex-item2 {
		padding: 40px 38px;
	}
	.addresses__info1 img {
		width: 42px;
		height: 42px;
	}	
}


@media screen and (max-width: 400px) {
	#nav_logo {
		margin-left: 1rem;
		margin-right: 0rem;
	}
	#nav_logo img  {

		width: 185px!important;
	}

	.top-portion__colombia {
		font-size: 2.25rem;
	}
	.top-portion__voted {
		font-size: 1rem;
	}
	.top-portion__desc {
		line-height: 1.45rem;
		text-align: left;
		font-size: 1.05rem;
		padding-left: 0;
		
	}

	.btm-container2__header {
		font-size: 1.5em;
		padding-top: 2rem;
	}
	.contact-section h1 {
		margin-left: 3rem;
	}

}

@media screen and (max-width: 375px) {
	.flex-container img {
		width: 325px;
		height: auto;
	}
}
@media screen and (max-width: 350px) {
	.flex-container-text {
		width: 100%;
	}
	.grid-container {
		margin-top: 3rem;
	}
	input[type="text"], [type="email"], .textarea {
		width: 275px;
		width: 90%;
		
	}
	#flex-item2 {
		padding: 26px 0px;
	}
}

@media screen and (max-width: 350px) {
	.header .logo {
		padding-top: 10px;
	}
	.logo img {
		width: 150px;
	}
	.title-logo {
		margin-top: 1rem;
	}

	#top-portion {
		padding-top: .75rem;
		min-height: 800px;
	}

	hr {
		margin: 0;
	}

	.flex-container img {
		width: 300px;
		height: auto;
	}
	.grid-container {
		margin-top: 2rem;
	}
	.grid-item1, .grid-item2, .grid-item3, .grid-item4 {
		padding: 0;
	}
	.grid-item1 img, .grid-item2 img, .grid-item3 img, .grid-item4 img {
		width: 100px;
		height: 100px;
	}
	.flex-item1--text,
	.flex-item2--text,
	.flex-item3--text,
	.flex-item4--text {
		font-size: .85rem;
	}
	.contact-section {
		padding: 0 1rem;
	}
	.contact-section h1 {
		margin-left: 2.25rem;
	}
	.addresses__contact {
		font-size: 2.5rem;
	}
	input[type="text"], [type="email"], .textarea {
		width: 250px;
	}
}

@media screen and (max-width: 300px) {
	.header .logo {
		padding-top: 10px;
	}
	.logo img {
		width: 150px;
	}

	.top-portion__colombia {
		font-size: 2rem;
	}
	.top-portion__voted {
		font-size: .75rem;
	}
	.top-portion__desc {
		line-height: 1.1rem;
		text-align: left;
		font-size: 1rem;
		padding-left: 0;
		margin-left: 1rem;
		margin-right: 0;
	}
	.btm-container__why {
		margin-bottom: 1.75rem;
	}
	.bottom__container li {
		padding: 0;
	}
	.circle p {
		font-size: .25rem;
	}
	.btm-container__depends {
		text-align: center;
	}
	.btm-container2 {
		height: 800px;
	}
	.btm-container2__header {
		font-size: 1.75rem;
		
	}

	.flex-container img {
		width: 275px;
		height: auto;
	}
	.flex-item1--text, .flex-item2--text, .flex-item3--text, .flex-item4--text {
		font-size: .85rem;
	}
	.contact-section {
		padding: 0;
	}
	#flex-item2 {
		padding: 0;
	}
	.office-info {
		margin-top: 01rem;
		margin-bottom: 3.75rem;
	}

	.terms_links a {
		font-size:1rem ;
	}
	.terms_footer {
		width: 15rem;

	}
} 