/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  
}

/*NAV*/
.nav_list {
	display: flex;
	list-style-type: none;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:   rgb(255, 111, 15);
}
.nav_lists {
	display: flex;
}

.nav_lists {
	font-family: 'Roboto', sans-serif;
}
.nav_lists a {
  font-size: 1.25rem;
	padding: 14px 16px;
	color: white;
	text-decoration: none;
}
.nav_lists a:hover,
.nav_lists a:focus {
	-webkit-box-shadow: 0 12px 16px 0 rgba(0,0,0,0.65), 0 17px 50px 0 rgba(0,0,0,0.75);
	        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.65), 0 17px 50px 0 rgba(0,0,0,0.75);
	color: lightgray;
	-webkit-transition: .75s;
	-o-transition: .75s;
	transition: .75s;
}
.nav_lists a:active {
	text-decoration: underline;
}



#flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
}


.contact-section {
  text-align: center;
  width: 100%;
  min-height: 90vh;
  background: -webkit-gradient( linear, left top, left bottom, from(rgba(0, 0, 0, 0.35)), to(rgba(0, 0, 0, 0.35))), url(img/colo.png);
  background: -o-linear-gradient( rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(img/colo.png);
  background: linear-gradient( rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(img/colo.png);
  /* background-size: center; */
  background-position: center;
  color: white;
  padding: 4rem;
  padding-bottom: 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-section__text {
  font-weight: 700;
  font-size: 2.5rem;
}

label {
  display: none;
  font-size: 1px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}
.contact input,
.contact textarea {
  margin: .5rem;
  font-weight: 1000;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

.contact textarea {
  margin-right: 1.25rem;
}

.email-form {
  margin-right: .80rem;
  
}

input[type="text"],
[type="email"],
textarea {
  background-color: rgb(223, 198, 182);
  border-color: rgb(201, 83, 5);
  width: 700px;
  height: 40px;
  margin-right: 1.45rem;
}

.contact__txtarea label,
.textarea {
  width: 700px;
  height: 350px;
  vertical-align: top;

}

.contact-section__btn {
  padding: 12px 42px;
  border-radius: 7px;
  background:  rgb(201, 83, 5);
  border: none;
  color: white;
  font-size: 1.05rem;
  margin-right: 200rem;
  margin-top: 2rem;
}

.contact-section__btn:hover,
.contact-section__btn:focus {
  background-color: white;
  color: rgb(201, 83, 5);
  cursor: pointer;
}


/*FOOTER*/


.addresses {
  background-color: rgb(201, 83, 5);
  color: white;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  font-size: 1.5rem;
}

.addresses a {
  color: white;
}
.addresses__info1 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.addresses__info2 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.addresses__info2 p {
  margin-top: 23.5px;
}
.addresses__info1 img {
	width: 50px;
	height: auto;
}
.terms_footer {
  background-color: rgb(201, 83, 5);
  margin-top: 6rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.terms_links {
  /*li*/
  margin: 0;
}

.terms_lists {
  /*ul*/
  list-style: none;
  margin: 0;
  text-align: center;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.terms_links a {
  /*li a*/
  color: white;
  text-decoration: none;
  font-size: 1.5rem;

}

.terms_links :hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}



@media screen and (max-width: 1024px) {
  .nav_lists a {
    font-size: 1rem
  }
  .contact-section__text {
    font-size: 1.25rem;
  }
  input[type="text"],
  [type="email"],
  textarea {
    width: 250px;
  }
  .contact__txtarea label,
  .textarea {
    width: 250px;
    height: 200px;
  }

  .contact input,
  .contact textarea {
    font-size: 1.05rem;
  }

  .addresses {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.addresses__info1 {
  width: 15rem;
}

.addresses__info2 {
  width: 15rem;
}


.terms_links a {
  font-size: 1rem ;
}

.terms_footer {
  width: 15rem;
  margin-top: 2rem;
}
}

@media only screen and (min-width: 660px) and (max-width: 1024px) {
  .name-form {
    margin-left: .34rem;
  }
  input[type="text"],
  [type="email"],
  textarea {
    width: 350px;
  }
  .contact__txtarea label,
  .textarea {
    width: 350px;
    height: 200px;
  }
  .addresses {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

@media only screen and (min-width: 1024px) and (max-width:1366px) and (min-height:1024px) and (max-height:1366px) {
  .contact-section {
    height: 85vh;
    padding-bottom: 9rem;
  }
  .nav_lists a {
    font-size: 1.5rem
  }
  .contact-section__text {
    font-size: 2.5rem;
  }
  input[type="text"],
  [type="email"],
  textarea {
    width: 550px;
    height: 50px;
  }
  .contact__txtarea label,
  .textarea {
    width: 550px;
    height: 350px;
  }
  .contact input,
  .contact textarea {
    font-size: 1.8rem;
  }
 

  .addresses {
    font-size: 1.5rem;
  }
  .terms_links a {
    font-size: 1.5rem;
  }
}





























/* @media only screen and (min-width:1024px) and (max-width:1366px) and (min-height: 1366px) {
  .contact-section {
    height: 80vh;
  }
  .contact-section__text {
    font-size: 1.75rem;
  }
  .name-form {
    margin-left: .11rem;
  }
  input[type="text"],
  [type="email"],
  textarea {
    width: 450px;
  }
  .contact__txtarea label,
  .textarea {
    width: 450px;
    height: 300px;
  }
}

/* @media only screen and (max-width:1366px) and (max-height:1024px)  {
  .nav_lists a {
    font-size: 1.75rem;
  }
  .contact-section {
    height: 85vh;
  }
  .contact-section__text {
    font-size: 2.5rem;
  }
  .name-form {
    margin-left: .3rem;
  }
  input[type="text"],
  [type="email"],
  textarea {
    width: 750px;
    height: 60px;
  }
  .contact input,
.contact textarea {
  font-size: 1.75rem;
}
  .contact__txtarea label,
  .textarea {
    width: 750px;
    height: 400px;
  }
  .contact__txtarea {
    margin-bottom: 4rem;
  }

  .addresses {
    font-size: 1.5rem;
  }
  .terms_links a {
    font-size: 1.5rem;
  }
} */ 
