/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	
}

html,body {
	text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	
}
body {
	
	width: 100%;
	margin: 0;
}





:root {
    --main-color: rgba(255, 111, 15,0.8);
}

.nav_list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style-type: none;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:   rgb(255, 111, 15);
}
.nav_lists {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.nav_lists {
	font-family: 'Open-sans', sans-serif;
}
.nav_lists a {
	padding: 14px 16px;
	color: white;
	text-decoration: none;
}
.nav_lists a:hover,
.nav_lists a:focus {
	-webkit-box-shadow: 0 12px 16px 0 rgba(0,0,0,0.65), 0 17px 50px 0 rgba(0,0,0,0.75);
	        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.65), 0 17px 50px 0 rgba(0,0,0,0.75);
	color: lightgray;
	-webkit-transition: .75s;
	-o-transition: .75s;
	transition: .75s;
}
.nav_lists a:active {
	text-decoration: underline;
}
#nav_logo {
	margin-right: 2rem;
	margin-left: 2rem;
	
}
#background {
	width: 100%;
	height: 100%;
	background-color: rgb(255, 217, 181);
	margin: 0;
}

.grid-parent {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.grid-container {
	display: -ms-grid;
	display: grid;
	row-gap: 4rem;
	-webkit-column-gap: 7rem;
	   -moz-column-gap: 7rem;
	        column-gap: 5rem;
	 grid-template-columns: .85fr .85fr .85fr;  
	/* grid-template-rows: 2rem 5rem;  */
	    grid-template-areas: "header header header"
						 "plan1 plan2 plan3";
						  
	margin-bottom: 10rem;
	text-align: center;
	
}

.grid-header {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	-ms-grid-column-span: 5;
	grid-area: header;
		margin-top: 2.5%;
		
		margin-left: 12.25%;
		text-align: center;
		border: 2px solid black;
		width: 75%;
		background: var(--main-color);
		color: white;
		font-family: 'Roboto', sans-serif;
		font-size: larger;
		margin-right: 5rem;
		-webkit-box-shadow: rgb(36, 36, 36) 10px 10px 10px;
		        box-shadow: rgb(36, 36, 36) 10px 10px 10px;
}
.grid-header p {
	margin: 1rem;
}
.title__head {
	width: 100%;
	margin-top: 0;
	padding-top: 7px;
	padding-bottom: 7px;
	background: white;
	color: var(--main-color);
	font-family: 'Roboto', sans-serif;
}

.faq-page {
	color: white;
}

.package-title {
	width: 100%;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
	background: var(--main-color);
	font-family: 'Roboto', sans-serif;
	font-size: 1.5rem;
}

.prices {
	color: white;
	background: var(--main-color);
	padding: 16px 24px;
	width: 50%;
	margin-left: 25%;
	margin-top: 10%;
	-webkit-box-shadow: rgb(43, 42, 42) 4px 4px 4px;
	        box-shadow: rgb(43, 42, 42) 4px 4px 4px;
}

.grid1-basic {
	-ms-grid-row: 3;
	-ms-grid-column: 1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
			justify-content: space-between;
  	text-align: center;
	grid-area: plan1;
	background-color:  rgb(255, 241, 227);
	font-family: 'Roboto', sans-serif;
	border: solid 2px black;
	color: white;
	-webkit-box-shadow: rgb(43, 42, 42) 8px 8px 8px;
	        box-shadow: rgb(43, 42, 42) 8px 8px 8px;
}


.grid2-plus {
	-ms-grid-row: 3;
	-ms-grid-column: 3;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
			justify-content: space-between;
	text-align: center;
	grid-area: plan2;
	color:  var(--main-color);
	font-family: 'Roboto', sans-serif;
	border: 2px solid black;
	background: rgb(255, 241, 227);
	-webkit-box-shadow: rgb(43, 42, 42) 8px 8px 8px;
	        box-shadow: rgb(43, 42, 42) 8px 8px 8px;

}


.grid3-premium {
	-ms-grid-row: 3;
	-ms-grid-column: 5;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
			justify-content: space-between;
	text-align: center;
	grid-area: plan3;
	color:  var(--main-color);
	font-family: 'Roboto', sans-serif;
	border: 2px solid black;
	background:  rgb(255, 241, 227);
	-webkit-box-shadow: rgb(43, 42, 42) 8px 8px 8px;
	        box-shadow: rgb(43, 42, 42) 8px 8px 8px;

}

.list-title {
	font-size: 1.75rem;
	color: white;
	background: var(--main-color);
	margin-bottom: 0rem;
	padding-top: 10px;
	padding-bottom: 10px;
}

.lists1 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	max-height: 14.7rem;
	list-style: none;
	-webkit-padding-start: 0;
	        padding-inline-start: 0;
	font-size: 1.25rem;
}

.lists1 li {
	font-weight: bolder;
	margin: 1.6rem 0;
	color: rgb(107, 107, 107);
	background-color: white;
}


.lists2 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	max-height: 14.7rem;
	list-style: none;
	-webkit-padding-start: 0;
	        padding-inline-start: 0;
	font-size: 1.25rem;
}
.lists2 span,
.lists3 span {
	color: rgb(0, 204, 0);
}
span i {
	color: rgb(0, 204, 0);
}
i {
	color: var(--main-color);
}

.lists2 li {
	font-weight: bolder;
	margin: 1rem 0;
	color: rgb(107, 107, 107);
	background-color: white;
}
.lists3 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	max-height: 14.7rem;
	list-style: none;
	-webkit-padding-start: 0;
	        padding-inline-start: 0;
	font-size: 1.25rem;
}

.lists3 li {
	font-weight: bolder;
	margin: 1.35rem 0;
	color: rgb(107, 107, 107);
	background-color: white;
}

.button  {
	padding: 20px 52px;
	color:white;
	background-color: var(--main-color);
	font-size: 1.5rem;
	font-weight: 800;
	font-family: inherit;
	text-decoration: none;
}

.button:hover,
.button:focus,
.button:active {
	
	color: black;
	opacity: .7;
	-webkit-transition: .75s .08s;
	-o-transition: .75s .08s;
	transition: .75s .08s;
	font-family: inherit;
	cursor: pointer;
	
}
.button:focus {
	outline: var(--main-color);
}


/*FOOTER*/




  .addresses {
	background-color: rgb(201, 83, 5);
	color: white;
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
		-ms-flex-direction: row;
			flex-direction: row;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		align-items: center;
	text-align: center;
	font-size: 1.15rem;
	padding-left: 6%;
	font-family: 'Open-sans', sans-serif;
	font-weight: 300;
  }
  
  .addresses a {
	color: white;
  }
  .addresses__info1 {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	width: 1rem;
	-webkit-box-flex: 1;
		-ms-flex-positive: 1;
			flex-grow: 1;
  }
  
  .addresses__info2 {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	width: 1rem;
	-webkit-box-flex: 1;
		-ms-flex-positive: 1;
			flex-grow: 1;
  }
  
  .addresses__info2 p {
	  margin-top: 23.5px;
  }
  .terms_footer {
	background-color: rgb(201, 83, 5);
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
		-ms-flex-direction: column;
			flex-direction: column;
	width: 1rem;
	-webkit-box-flex: 1;
		-ms-flex-positive: 1;
			flex-grow: 1;
  }

  .terms_lists {
	/*ul*/
	list-style: none;
	text-align: center;
	-webkit-padding-start: 0;
			padding-inline-start: 0;
  }
  .terms_links a {
	/*li a*/
	color: white;
	text-decoration: none;
	font-size: 1.1rem;
  }
  
  .terms_links :hover {
	-webkit-text-decoration-line: underline;
			text-decoration-line: underline;
  }

 @media screen and (max-width: 1600px){
	.grid-parent {
		margin: 0 5%;
	}
	 .grid-container {
		grid-template-columns: 0.75fr 0.75fr 0.75fr;
	 }
 }
 @media screen and (max-width: 1366px){
	 .grid-parent {
		 margin: 0 5%;
	 }
	.grid-container {
	   grid-template-columns: 0.75fr 0.75fr 0.75fr;
	   column-gap: 2rem;
	}
	.list-title {
		font-size: 1.5rem;
	}
	.list-title {
		font-size: 1.25rem;
	}
	.lists1, .lists2, .lists3 {
		font-size: 1.15rem;
	}
 }

	
@media screen and (max-width: 1024px) {
	.grid-header {
		font-size: 1rem;
	}
	
	.list-title {
		font-size: 1.15rem;
	}
	.lists1, .lists2, .lists3 {
		font-size: 1.05rem;
	}
	.lists3 li {
		margin: 1.55rem 0;
	}
	.button  {
		font-size: 1.25rem;
	}
	.addresses {
		padding-left: 8%;
		font-size: 1rem;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
	}
	.addresses__info1 {
		width: 15rem;
	}
	.addresses__info1 img {
		width: 36px;
		height: 36px;
	}
	.addresses__info2 {
		width: 15rem;
	}
	.terms_links a {
		font-size:1rem ;
	}
	.terms_footer {
		width: 15rem;
}
}
@media only screen 
  and (min-width: 1024px) 
  and (max-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
	.grid-parent {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.grid-container {
		grid-template-areas: "header"
									"plan1"
									"plan2"
									"plan3"; 
		grid-template-columns: .65fr;
		justify-content: center;
	}
	
	.grid-header {
		width: 100%;
		margin-left: 0;
	}
	.prices {
		font-size: 2rem;
	}
	.grid-header {
		font-size: 1.25rem;
	}
	.package-title {
		font-size: 2.5rem;
	}
	.list-title {
		font-size: 2rem;
	}
	.lists1, .lists2, .lists3 {
		font-size: 1.5rem;
	}
	.lists3 li {
		margin: 1.55rem 0;
	}
	.button  {
		font-size: 2rem;
	}
  }
@media screen and (max-width: 900px) {
	.grid-parent {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.grid-container {
		grid-template-areas: "header"
									"plan1"
									"plan2"
									"plan3"; 
		grid-template-columns: .7fr;
		justify-content: center;
	}
	
	.grid-header {
		width: 100%;
		margin-left: 0;
	}
	.prices {
		font-size: 1.75rem;
	}
	.grid-header {
		font-size: 1.25rem;
	}
	.package-title {
		font-size: 2rem;
	}
	.list-title {
		font-size: 1.5rem;
	}
	.lists1, .lists2, .lists3 {
		font-size: 1.5rem;
	}
	.lists1 {
		margin: 1.55 0;
	}

	.button  {
		font-size: 1.75rem;
	}
}
@media screen and (max-width: 800px) {
	.grid-parent {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.grid-container {
		grid-template-areas: "header"
									"plan1"
									"plan2"
									"plan3"; 
		grid-template-columns: .7fr;
		justify-content: center;
	}
	
	.grid-header {
		width: 100%;
		margin-left: 0;
	}
	.prices {
		font-size: 1.75rem;
	}
	.grid-header {
		font-size: 1.25rem;
	}
	.package-title {
		font-size: 2rem;
	}
	.list-title {
		font-size: 1.5rem;
	}
	.lists1, .lists2, .lists3 {
		font-size: 1.25rem;
	}
	.lists3 li {
		margin: 1.5rem 0;
	}
	.button  {
		font-size: 1.5rem;
	}
	.addresses {
		padding-left: 6%;
		padding-top: 2%;
    padding-bottom: 2%;
    font-size: 1rem;
	}
}
@media screen and (max-width: 700px) {
	.grid-container {
		grid-template-columns: .8fr;
	}
}
@media screen and (max-width: 600px) {
	.grid-container {
		grid-template-columns: .85fr;
	}
	.addresses {
		padding-left: 3%;
	}
	.terms_lists a {
		font-size: .87rem;
	}

}
@media screen and (max-width: 450px) {
	.grid-container {
		grid-template-columns: .9fr;
	}
	.lists1 li {
		margin: 1rem 0;
	}
}
@media screen and (max-width: 400px) {
	.grid-container {
		grid-template-columns: 1fr;
	}
	.addresses {
		padding-left: 0;
	}

}
@media screen and (max-width: 375px) {
	.grid-container {
		grid-template-columns: 1fr;
	}
	.prices {
		font-size: 1.5rem;
	}
	.grid-header {
		font-size: 1.15rem;
	}
	.package-title {
		font-size: 1.5rem;
	}
	.list-title {
		font-size: 1.25rem;
	}
	.lists1, .lists2, .lists3 {
		font-size: 1.15rem;
	}
	
	.lists3 li {
		margin: 1.25rem 0;
	}
	.button  {
		font-size: 1.25rem;
	}
}
@media screen and (max-width: 300px) {
	.prices {
		font-size: 1.25rem;
	}
	.grid-header {
		font-size: 1rem;
	}
	.package-title {
		font-size: 1.25rem;
	}
	.list-title {
		font-size: 1.25rem;
	}
	.lists1, .lists2, .lists3 {
		font-size: 1rem;
	}
	.lists3 li {
		margin: 1.15rem 0;
	}
	.button  {
		font-size: 1.25rem;
	}
}




